<h1>Thoughts about GitLab CI</h1>

<p>GitLab CI looks very promising to me, which is great!</p>

<p>I remember the first day when I was told to try GitLab CI. At the beginning I was very sceptical which is a normal situation for me.</p>

<!-- ...to be continued -->